{{ partial "header" . }}
<section id="main-section" class="main-section">
        <ul class="post-list">
            <li class="post">
                <article class="post-content">
                    <h1 class="post-title">{{ .Title }}{{ if .Draft }} ::Draft{{ end }}</h1>
                    <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
                    <p class="content">{{ .Content }}</p>
                    <div class="more-options">
                    <div class="tags-section">    
                        <span>Tagged: </span>
                        <ul class="tags">
                            {{ range $i, $tag := .Params.tags }}
                                <li class="tag-item"><a class="tag-link" href="{{$.LanguagePrefix }}/tags/{{ $tag | urlize }}">{{ $tag }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    </div>
                </article>
            </li>
        </ul>
    </section>

    </div>
    <script src="{{ .Site.BaseURL }}/js/app.js" type="text/javascript"></script>
</body>
</html>