<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125719362-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125719362-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="icon" href="{{ .Site.BaseURL }}/img/favicon.png" />
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/img/favicon.png" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}/fonts/fontawesome-free-5.3.1-web/css/all.css" /> -->
</head>
<body>
    <div class="wrapper">
        <section id="top-section" class="top-section">
            <header class="top-title-header">
                <h1 class="main-title">
                    {{ .Site.Title }}
                </h1>
            </header>
            <ul class="social">
                {{ partial "social" . }}
            </ul>
            <ul class="nav main-nav">
                {{ partial "navitems" . }}
            </ul>
        </section>
        <section id="alt-top-section" class="alt-top-section">
            <header class="alt-top-title-header">
                <h1 class="alt-main-title">
                    {{ .Site.Title }}
                </h1>
            </header>
            <ul class="alt-nav">
                {{ partial "navitems" . }}
                {{ partial "social" . }}
            </ul>
        </section>